.breadcrumb {
  display: flex;
  gap: 1.2rem;
  align-items: center;

  a {
    text-decoration: none;
  }

  li {
    display: flex;
    gap: 1.2rem;
    align-items: center;

    &:not(:last-child)::after {
      font-family: var(--font-family-icon);
      content: "chevron_right";
    }
  }
}
