.menu {
  line-height: 200%;

  details {
    & summary {
      display: flex;
      justify-content: space-between;
      list-style: none;

      &::marker {
        display: none;
      }

      &::-webkit-details-marker {
        display: none;
      }

      &:not(.empty)::after {
        font-family: var(--font-family-icon);
        content: "expand_more";
        transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s transform;
      }
    }

    &:not([open]) {
      & summary {
        &::after {
          transform: rotate(-90deg);
        }
      }
    }
  }

  a {
    text-decoration: none;

    &.selected {
      color: var(--color-decoration);
      font-weight: bold;
    }
  }

  ul {
    margin-left: 1.2rem;
  }
}
